.footer__nav1 h2:hover{
    border-bottom: 2px solid #ffffff;
}
.head__logo:hover{
    background-position: right 5px top 5px;
    cursor:pointer;
}
.main__logo:hover{
    background-position: right 5px top 5px;
    cursor:pointer;
}
.footer__logo:hover{
    background-position: left 5px top 5px;
    cursor:pointer;
}
.wrapper3__nav ul li a:hover{
    border-bottom: 4px solid #000000;
}
.lang1:hover{
    color: #f61837;
    cursor: pointer;
}
.lang2:hover{
    color: #f61837;
    cursor: pointer;
}
.li a:hover{
    color: #f61837;
    cursor: pointer;
}
.right:hover{
    width: 600px;
    cursor: pointer;
}
.right h2:hover{
    font-size: 42px;
    cursor: pointer;
}